@model List<GetEmployeeQueryResult>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<div class="container">
    <br />
    <div class="alert alert-primary">
        <h4>Employee List</h4>
    </div>
    <br />
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td><span>$</span>@item.Salary</td>
                <td> <a href="/Employee/DeleteEmployee/@item.EmployeeId" class="btn  btn-danger">Delete</a></td>
                <td> <a href="/Employee/UpdateEmployee/@item.EmployeeId" class="btn  btn-success">Update</a></td>
            </tr>
        }
    </table>
    <a href="/Employee/CreateEmployee" class="btn  btn-success">New Employee</a>
</div>