@model GetEmployeeByIdQueryResult
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br />
        <div class="alert alert-primary">
            <h4>Update Employee</h4>
        </div>
        <br />
        <label>First Name</label>
        <input type="hidden" asp-for="EmployeeId" class="form-control" />

        <input type="text" asp-for="FirstName" class="form-control" />
        <br />
        <label>Last Name </label>
        <input type="text" asp-for="LastName" class="form-control" />
        <br />
        <label>Salary</label>
        <input type="text" asp-for="Salary" class="form-control" />
        <br />
        <button class="btn btn-primary">Update new employee</button>
    </div>
</form>
